  
    <div class="row">    
      <div class="w3-third">
      <p>{{customTitle}}</p>
      </div>
      
      <div class="w3-third">
      <p><button type="button" id="button1" class="btn btn-default" [ngClass]="{'btn-success':isClicked[0]}" {{func2}}>
        {{buttonTitle1}}
      </button></p>
      </div>
      
      <div class="w3-third">
      <p><button type="button" id="button2" class="btn btn-default" >
        {{buttonTitle2}}
      </button></p>
      </div>
    </div>

    <!--
    [ngClass]="{'btn-success':isClicked[0]}" (click)="addRepair('0',false,'0')"
[ngClass]="{'btn-danger':isClicked[1]}" (click)="addRepair('0', true,'1')"
    -->
    